.logo{
    background-color: #e1e976;
}

p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}

.dir{
    display: flex;
    justify-content: space-between;
}

img{
    max-width: 50px;
    max-height: 50px;
    mix-blend-mode: multiply;
    filter: contrast(1);
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 2px;
}